* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ae9cff;
}

.container {
  position: absolute;
  width: 90vmin;
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(30, 33, 61, 0.2);
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.search-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-box input {
  width: 70%;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 3px solid #ae9cff;
  font-size: 16px;
}

.search-box button {
  width: 25%;
  padding: 5px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  background: #ae9cff;
  /* cursor: pointer; */
}

.result {
  position: relative;
}

.result h3 {
  font-size: 30px;
  color: #1f194c;
}

.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.result button {
  border: none;
  outline: none;
  font-size: 18px;
  color: #ae9cff;
  background-color: transparent;
}

.result .details {
  display: flex;
  gap: 10px;
  margin: 5px 0 20px 0;
  font-size: 14px;
  color: #b3b6d4;
}

.word-meaning {
  color: #575a7b;
}

.word-example {
  border-left: 5px solid #ae9cff;
  padding-left: 20px;
  margin-top: 30px;
  color: #575a7b;
  font-style: italic;
}
